:root{
    --colortheme: black;
    --bgtheme: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    width: 340px;
}

.preview {
    background: #f9fafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.display{
    display: block;
}

.displayNone{
    display: none;
}
.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.topContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    gap: 10px;
    justify-content: center;
}

.cardContainer{
    flex-basis: 17%;
    border: 1px solid lightgrey;
    padding: 0 20px;
    position: relative;
    color: var(--colortheme);
    background-color: var(--bgtheme);

}

.basicDetails{
    display: flex;
    align-items: center;
    flex-basis: 70%;
}

.avatar{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.avatar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.fullName{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.date{
    font-size: 13px;
}

.profileDetails{
    height: 100px;
    margin-top: 20px;
}

.postPhoto{
    height: 300px;
    margin-bottom: 30px;
}

.postPhoto img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.caption{
    font-size: 14px;
    line-height: 1.5;
}

hr{
    margin-top: 25px;

    margin-bottom: 70px;

}

.heartContainer{
    position: absolute;
    bottom: 23px;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.heart{
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}



#loadMore{
    display: flex;
    justify-content: center;
}

#loadMore button{
    display: inline-block;
    color: #ffffff;
    background-color: rgb(8,127,250);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 9px 20px;
    margin-top: 20px;
}

:root:has(input[value="darkTheme"]:checked){
    --colortheme: '#ffffff';
    --bgtheme: 'black';
}

:root:has(input[value="darkTheme"]:checked){
    --colortheme: #ffffff;
    --bgtheme: black;
}