body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container {
    display: flex;
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    width: 340px;
}

.preview {
    background: #f9fafd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.topContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    gap: 30px
}

.cardContainer{
    flex-basis: 30%;
}

.avatar{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.avatar img {
    width: 100px;
    height: 100px;
}

#loadMore{
    display: flex;
    justify-content: center;
}

#loadMore button{
    display: inline-block;
    color: #ffffff;
    background-color: rgb(8,127,250);
    font-size: 11px;
    border: none;
    border-radius: 10px;
    padding: 9px 20px;
}